name: build and push docker image

on:
  push:
    branches:
      - main
    paths-ignore:
      - .gitignore
      - .env.example
      - README.md
      - changelog.md
  pull_request:
    types:
      - synchronize
      - ready_for_review

permissions:
  contents: write
  packages: write

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: erlef/setup-beam@v1
        with:
          otp-version: '27'
          elixir-version: '1.17.3'

      - run: mix deps.get

      - run: mix test

  build-push-docker-image:
    runs-on: ubuntu-latest
    if: github.ref_name == 'main'
    needs:
      - tests
    steps:
      - uses: actions/checkout@v4

      - name: get image tag
        id: get_image_tag
        run: |
          echo -n "tag=$(cat mix.exs | grep version | egrep -o '[0-9.]+')" >> $GITHUB_OUTPUT

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:latest
            ghcr.io/${{ github.repository }}:${{ steps.get_image_tag.outputs.tag }}
